.animal-types {
  overflow: auto;
  max-height: 30vh;
}

.animal-types ol,
.animal-types form {
  margin: auto;
  width: 50%;
}

.animal-types li {
  display: flex;
  justify-content: space-between;
}

.animal-types button {
  background-color: var(--gold);
  padding: 0.2em 1em;
  margin: 0.1em;
}
